header.major
	h3 Unidades Ejecutoras
#btnNuevaUnidad.margin-bottom
#dgdUnidades.margin-bottom
#btnGuardarUnidad.margin-bottom

script.
	var unidades = !{JSON.stringify(unidades)}

	$( () => {

		$('#btnNuevaUnidad').dxButton({
			text: 'Nueva Unidad Ejecutora',
			type: 'default',
			onClick: (info) => {
				$('#dgdUnidades').dxDataGrid('instance').addRow()
			}
		})

		$('#dgdUnidades').dxDataGrid({
			dataSource: unidades,
			paging: {
				pageSize: 10
			},
			pager: {
				showPageSizeSelector: true,
				allowedPageSizes: [5, 10, 20],
				showInfo: true
			},
			showColumnLines: false,
			showRowLines: true,
			rowAlternationEnabled: true,
			showBorders: false,
			columnHidingEnabled: true,
			editing: {
				mode: 'cell',
				allowUpdating: true
			},
			columns: [
				{
					allowEditing: false,
					caption: 'Código',
					dataField: 'cod_unidad',
					visible: false
				},
				{
					caption: 'Nro.',
					dataField: 'numero_unidad',
					validationRules: [
						{ type: 'required' }, 
						{ type: 'stringLength', max: 50 }
					],
					width: 100
				},
				{
					caption: 'Nombre',
					dataField: 'nombre_unidad',
					validationRules: [
						{ type: 'required' },
						{ type: 'stringLength', max: 200 }
					]
				},
				{
					caption: 'Objectivo',
					dataField: 'descripcion_unidad',
					validationRules: [
						{ type: 'stringLength', max: 500 }
					]
				}
			]
		})

		$('#btnGuardarUnidad').dxButton({
			text: 'Guardar Unidades',
			type: 'default',
			onClick: (info) => {

				$('#dgdUnidades').dxDataGrid('instance').saveEditData().then( () => {

					let data = {
						cod_gerencia: $('#frmGerencia').dxForm('instance').option().formData.cod_gerencia,
						unidades: $('#dgdUnidades').dxDataGrid('instance').getDataSource().store()._array
					}


					$.ajax({
						type: 'POST',
						url: '/fn/administracion/guardarUnidadesEjecutoras',
						contentType: 'application/json',
						data: JSON.stringify(data),
						dataType: 'json',
						encode: true,
						beforeSend: () => {
							$('.spinner').show()
						}
					})
					.done( (response) => {

						let flag = false
						
						for (let i = 0, len = response.length; i < len; i++) {
							if (response[i] == 0)
								flag = true
						}

						jQuery('body').css('overflow', 'visible')
						$("#myModal").css("display", "none")
						$('.spinner').hide()

						if (flag) {
							DevExpress.ui.notify({
								message: 'Ocurrio un error al intentar guardar uno o más unidades ejecutoras.',
								type: 'error',
								displayTime: 5000,
								position: {
									my: 'center top',
									at: 'center top'
								}
							})
						} else {
							DevExpress.ui.notify({
								message: 'Unidades ejecutoras guardadas exitosamente.',
								type: 'success',
								displayTime: 3000,
								position: {
									my: 'center top',
									at: 'center top'
								}
							})
						}
					})

				})
			}
		})

	})