header.major
	h3 Proyectos
#btnNuevoProyecto.margin-bottom
#dgdProyectos.margin-bottom
#btnGuardarProyectos.margin-bottom

script.
	var programas = !{JSON.stringify(programas)}
		subprogramas = !{JSON.stringify(subprogramas)},
		proyectos = !{JSON.stringify(proyectos)}

	$( () => {

		$('#btnNuevoProyecto').dxButton({
			text: 'Nuevo Proyecto',
			type: 'default',
			onClick: (info) => {
				$('#dgdProyectos').dxDataGrid('instance').addRow()
			}
		})

		$('#dgdProyectos').dxDataGrid({
			dataSource: proyectos,
			paging: {
				pageSize: 10
			},
			pager: {
				showPageSizeSelector: true,
				allowedPageSizes: [5, 10, 20],
				showInfo: true
			},
			showColumnLines: false,
			showRowLines: true,
			rowAlternationEnabled: true,
			showBorders: false,
			columnHidingEnabled: true,
			editing: {
				mode: 'cell',
				allowUpdating: true
			},
			columns: [
				{
					allowEditing: false,
					caption: 'Código',
					dataField: 'cod_proyecto',
					visible: false
				},
				{
					dataField: 'cod_programa',
					caption: 'No. Programa',
					lookup : {
						dataSource: programas,
						displayExpr: 'numero_programa',
						valueExpr: 'cod_programa'
					},
					width: 100
				},
				{
					dataField: 'cod_sub_programa',
					caption: 'No. Sub-Programa',
					lookup : {
						dataSource: subprogramas,
						displayExpr: 'numero_sub_programa',
						valueExpr: 'cod_sub_programa'
					},
					width: 100
				},
				{
					caption: 'Nro.',
					dataField: 'numero_proyecto',
					validationRules: [
						{ type: 'required' }, 
						{ type: 'stringLength', max: 50 }
					],
					width: 100
				},
				{
					caption: 'Nombre',
					dataField: 'nombre_proyecto',
					validationRules: [
						{ type: 'required' },
						{ type: 'stringLength', max: 200 }
					]
				},
				{
					caption: 'Descripción',
					dataField: 'descripcion_proyecto',
					validationRules: [
						{ type: 'stringLength', max: 500 }
					]
				}
			]
		})

		$('#btnGuardarProyectos').dxButton({
			text: 'Guardar Proyecto',
			type: 'default',
			onClick: (info) => {

				$('#dgdProyectos').dxDataGrid('instance').saveEditData().then( () => {

					let data = {
						cod_gerencia: $('#frmGerencia').dxForm('instance').option().formData.cod_gerencia,
						proyectos: $('#dgdProyectos').dxDataGrid('instance').getDataSource().store()._array
					}

					$.ajax({
						type: 'POST',
						url: '/fn/administracion/guardarProyectos',
						contentType: 'application/json',
						data: JSON.stringify(data),
						dataType: 'json',
						encode: true,
						beforeSend: () => {
							$('.spinner').show()
						}
					})
					.done( (response) => {

						let flag = false
						
						for (let i = 0, len = response.length; i < len; i++) {
							if (response[i] == 0)
								flag = true
						}

						jQuery('body').css('overflow', 'visible')
						$("#myModal").css("display", "none")
						$('.spinner').hide()

						if (flag) {
							DevExpress.ui.notify({
								message: 'Ocurrio un error al intentar guardar uno o más Proyectos.',
								type: 'error',
								displayTime: 5000,
								position: {
									my: 'center top',
									at: 'center top'
								}
							})
						} else {
							DevExpress.ui.notify({
								message: 'Proyectos guardados exitosamente.',
								type: 'success',
								displayTime: 3000,
								position: {
									my: 'center top',
									at: 'center top'
								}
							})
						}
					})

				})
			}
		})
	})