extends layout.pug

block content
	link(href='/css/login.css', rel='stylesheet')
	link(href='/css/font-awesome.min.css', rel='stylesheet')

	.ContenedorBanner
	div(align="center")
		a.button(href='/login')
			| ENTRAR AL SPM
		
